@model StarMed.DATA.EF.Application

@{
    ViewBag.Title = "Application Details";
   
}
<hr />
<h2 style="text-align:center;">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col"></div>
    <div style="border-radius: 4px; padding: 5px;max-width: 15%; height:auto;" class="col"><img src="~/Content/images/nurse-portrait.jpg" /></div>
    <div class="col offset-2">
        <dl class="dl-horizontal" style="padding:3em;">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResumeFilename)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationStatus1.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationStatus1.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpenPosition.OpenPositionId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>

        </dl>
    </div>
    <div class="col"></div>
</div>

@if (User.IsInRole("Admin"))
{

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    </p>
}
@Html.ActionLink("Back to List", "Index")




