@model IEnumerable<StarMed.DATA.EF.Application>

@{
    ViewBag.Title = "StarMed | Applications";
    ViewBag.Message = "Application Details";
}

<h2 style="text-align:center;">@ViewBag.Message</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.ResumeFilename)*@
            Link to Resume:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatus1.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
        </th>
        <th>
            Applicant:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.ResumeFilename)*@
                <a href="@Url.Content("~/Content/Resumes/" + item.ResumeFilename)" target="_blank">Click to View Document</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus1.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId }) |

                    </p>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId })
            </td>
            <td></td>

        </tr>
    }

</table>
