@model IEnumerable<StarMed.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Current Users ";
}

<h2 style="text-align:center;">@ViewBag.Title</h2>

<p style="text-align:center;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User Name:
        </th>
        <th>
            Full Name:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               @{var db = new StarMed.DATA.EF.StarMedEntities();
                   StarMed.DATA.EF.UserDetail user = db.UserDetails.Where(x => x.UserId == item.Id).Single();}
                    @user.FullName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
