@model StarMed.DATA.EF.UserDetail

@{
    ViewBag.Title = "StarMed | User Details";
    ViewBag.Message = "User Details";
}
<hr />
<h2 style="text-align:center;">@ViewBag.Message</h2>
<hr />
<dl class="dl-horizontal" style="text-align:center;">
   
    <dt>
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ResumeFilename)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ResumeFilename)
    </dd>

</dl>
<p style="text-align:center;">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
