@model IEnumerable<StarMed.DATA.EF.UserDetail>

@{
    ViewBag.Title = "StarMed | User Details";
    ViewBag.Message = "Current Users";
}
<hr />
<h2 style="text-align:center;">@ViewBag.Message</h2>

<p style="text-align:center;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </th>
        <th>
            @Html.DisplayName("Location:")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeFilename)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => Locations.StoreNumber)*@                     

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td>
    </tr>
}

</table>
